*.pdf
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*-concordance.tex
*.tex
*.log
notes/r4ds/data_transformation_cache/
assignments/getting-cleaning-data/getting_cleaning_data_assignment_cache
assignments/getting-cleaning-data/codebook_cache
assignments/getting-cleaning-data/data
